@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kanit', sans-serif;

	--background-color: #ffffff;
	--primary-color: #342295;
	--secondary-color: #7d7d7d;
	--error-color: #e23636;
	--success-color: #82dd55;

	--toastify-color-success: var(--success-color);
	--toastify-color-error: var(--error-color);
}

/* Override default react-toastify styles */
/* Remove border radius */
.Toastify__toast {
	border-radius: 0 !important;
}
