.primary,
.secondary {
	background-color: var(--primary-color);
	color: #fff;
	border: 0.5rem solid var(--primary-color);
	padding: 0.5rem 1rem;
	margin: 1rem;
	min-width: 10rem;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.secondary {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.small {
	padding: 0.2rem 0.5rem;
	font-size: 0.8rem;
	border-width: 0.3rem;
}

.primary:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.secondary:hover {
	background-color: var(--primary-color);
	color: var(--background-color);
}

.text {
	font-size: 1rem;
	font-weight: bold;
}

.spinner {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 0.2rem solid var(--primary-color);
	border-radius: 50%;
	border-top-color: transparent;
	animation: spin 0.6s linear infinite;
}

.secondary .spinner,
.primary:hover .spinner {
	border-color: var(--primary-color) var(--primary-color) var(--primary-color) transparent;
}

.secondary:hover .spinner {
	border-color: var(--background-color) var(--background-color) var(--background-color) transparent;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.primary,
	.secondary {
		margin: 0.5rem;
	}
}
