.content {
	background-color: var(--background-color);
	padding: 1rem;
}

.questionNumber,
.question {
	color: var(--primary-color);
	font-weight: 700;
}

.questionNumber {
	font-size: 1.2rem;
}

.question {
	font-size: 2rem;
	margin: 1rem 0;
}

.timer {
	color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: 700;
}

.timerBar {
	background-color: var(--primary-color);
	height: 0.5rem;
}

.answers {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}
